
.o-container {
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: 250px;
  padding: 0 3rem;
  margin-right: auto;
  margin-left: auto;

  @include mobile {
    width: 100% !important;
    flex-direction: column;
  }
  @include tablet {
    width: 70% !important;
    flex-direction: row;
  }
}
