doctype html
html(lang="fr")
  
  head
    meta(charset="utf-8")
    title Dut;
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="styles/main-min.css")
    link(rel="icon" href="assets/img/favicon.png")

  body

    h1 Banner
    hr
    br
    br



    h1 Main
    #mainTraining
      legend type in your user name :
      input(type="name")

      legend type in your email :
      input(type='text')

      legend type in your password : 
      input(type="password" id="password")

      br
      button(type="button" id="conf") Submit

      p(id="fail")
      p(id="correct") 
    

    hr
    br
    br
    br
    h1 Footer

    



          

      
  script(src="scripts/app.js")
  script(src="scripts/exo-read.js")