doctype html
html(lang="fr")
  
  head
    meta(charset="utf-8")
    title Dut;
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="styles/main-min.css")
    link(rel="icon" href="assets/img/favicon.png")

  body

    h1 Banner
    hr
    br
    br



    h1 Main
    #mainFeedback

    h3 Take a moment to give us a feedback please :) 

    label(for='wnr1') Yes.
    input(type='radio', name='feed1', value='1')#wnr1
    


    label(for='wnr2') No.
    input(type='radio', name='feed1', value='2')#wnr2


    label(for='wnr3') What ever.
    input(type='radio', name='feed1', value='3')#wnr3 

    

    hr
    br
    br
    br
    h1 Footer

    



          

      
  script(src="scripts/app.js")
  script(src="scripts/feedback.js")