doctype html
html(lang="fr")
  
  head
    meta(charset="utf-8")
    title Dut;
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="styles/main-min.css")
    link(rel="icon" href="assets/img/favicon.png")

  body

    h1 Banner
    hr
    br
    br



    h1 Main
    #mainTrainning
      br
      br
      p
        i progress bar xp user ??? 
      br
      br
      a(class='button' href='training.html') go training !
      br
      a(class='button' href='challenge.html') take a challenge !

    

    hr
    br
    br
    br
    h1 Footer

    



          

      
  script(src="main.js")