doctype html
html(lang="fr")
  
  head
    meta(charset="utf-8")
    title Dut;
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="styles/main-min.css")
    link(rel="icon" href="assets/img/favicon.png")

  body

    h1 Banner
    hr
    br
    br



    h1 Main
    #mainTrainning
      br
      br
      a(class='button' href='training.html') go training !
      br
      a(class='button' href='hunt.html') take a challenge !
      br
      a(class='button' href='badges.html') My badges.
      br
      a(class='button' href='challenges.html') Challenges completed.
      br
      a(class='button' href='profile.html')

    hr
    br
    br
    br
    h1 Footer

    



          

      
  script(src="main.js")