doctype html
html(lang="fr")
  
  head
    meta(charset="utf-8")
    title Dut;
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="styles/main-min.css")
    link(rel="icon" href="assets/img/favicon.png")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")

  body

    h1 Banner
    hr
    br
    div(class="progress")
      div(class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100") 25%

    p
      i Your training rank is : X
    br

    h1 Main
    #mainTraining

      legend Select a category ? 
      select#propertyType.select.form-control.input(form='addProperty', name='propertyType')
          option(value='0', selected= true) -- Select --
          option(value='1', selected= true) Internet Général
          option(value='2', selected= true) Réseau sociaux
          option(value='2', selected= true) Téléchargements
          option(value='2', selected= true) CGU 
          option(value='2', selected= true) Etc ...  

      br
      br

      a(href="exo-read.html")
        button Training ready !



    hr
    br
    br
    br
    h1 Footer

    



          

      
  script(src="app.js")