doctype html
html(lang="fr")
  
  head
    meta(charset="utf-8")
    title Dut;
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="styles/main-min.css")
    link(rel="icon" href="assets/img/favicon.png")

  body

    h1 Banner
    hr
    br


    #trainingList
     select#propertyType.select.form-control.input(form='addProperty', name='propertyType')
          option(value='x') -- Select --
          option(value='x') Home
          option(value='x') Condo
          option(value='x') Single Family Home
          option(value='x') Town House
          option(value='x') City Apartment
          option(value='x') Villa

    br
    br

    .training


    hr
    br
    br
    br
    h1 Footer

    



          

      
  script(src="main.js")

          