doctype html
html(lang="fr")
  
  head
    meta(charset="utf-8")
    title Dut;
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="styles/main-min.css")
    link(rel="icon" href="assets/img/favicon.png")

  body

    h1 Banner
    hr
    br
    p
      i progress bar xp user ??? 
    p
      i Your training rank is : X
    br

    h1 Main
    #mainTrainning

      legend Select a category ? 
      select#propertyType.select.form-control.input(form='addProperty', name='propertyType')
          option(value='0', selected= true) -- Select --
          option(value='1', selected= true) Internet Général
          option(value='2', selected= true) Réseau sociaux
          option(value='2', selected= true) Téléchargements
          option(value='2', selected= true) CGU 
          option(value='2', selected= true) Etc ...  

      br
      br

      a(href="exo-read.html")
        button Training ready !



    hr
    br
    br
    br
    h1 Footer

    



          

      
  script(src="app.js")